* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.scrollable {
  /* width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px; */
  overflow-y: scroll;
}

.links line {
  /* stroke: #999; */
  stroke-opacity: 0.6;
  }
  
.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
  /* fill: rgba(190,23,59,1) */
  }
  
.labels {
  font-family: sans-serif;
  font-size: 10px;
  }

#motif_container {
  height: 500px;
  width: 400px;
  border:0.5px solid grey;
  overflow-y: scroll;
  overflow-x: scroll;
}

#motifSearchSVG {
  display: block;
}

.panel {
  padding-top: 20px;
}

.frame {
  border: 1px solid lightgray;
  background-color: rgb(247,247,249);
  border-radius: 5px;
  height:650px;
}

.content {
  padding-top: 20px;
  padding-left: 15px;
}

.sub-frame {
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  padding-top:5px;
  padding-left:5px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  height:310px;
}

.network-frame {
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  padding-top:5px;
  padding-left:5px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  height:500px;
}

.network-panel {
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  padding-top:5px;
  padding-left:5px;
  /* border: 1px solid lightgray; */
  /* background-color: white; */
  /* border-radius: 5px; */
  height:120px;
}

.tooltip-panel {
  /* margin-top:10px; */
  margin-left:10px;
  margin-right:10px;
  padding-top:5px;
  /* padding-left:5px; */
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  height:100px;
}

.tooltip-text{
  font-size:10px;
}

p {
  font-size:13px;
  /* color:rgb(62,110,155); */
  color: black;
  font-weight: bold;
}

h6 {
  font-size: 14px;
}

td {
  border: 1px solid black;
  background-color:white;
  width: 80px;
  height: 80px;
}

td.pathway {
  padding-left:5px;
  border: 1px solid black;
  background-color:white;
  width: 80px;
  height: 60px;
}

li{
  font-size:14px;
  list-style-type:none;
}

circle.reactant {
  fill:Tomato;
  /* fill: rgb(204,68,75); */
}

circle.product {
  fill:DodgerBlue;
  /* fill: rgb(73,160,181); */
}

circle.reaction {
  /* fill:YellowGreen  ; */
  fill: rgb(97, 198, 95);
}

circle.other {
  fill: lightgray;
}

.dropdown-container {
  /* padding-top: 10px; */
}

label {
  font-size: 12px;
}

option {
  font-size: 11px;
}

