
.link {
fill: none;
stroke: #666;
stroke-width: 1.5px;
}

#up {
  fill: green;
}
.link.up {
  stroke: green;
}

#down {
  fill: red;
}
.link.down {
  stroke: red;
}

#gene {
  fill: rgba(165, 55, 253, 1);
}
.link.gene {
  stroke: rgba(165, 55, 253, 1);
  stroke-dasharray: 0,2 1;
}

#reaction {
  fill: grey;
}
.link.reaction {
  stroke: grey;
}

circle {
  fill: var(--node_color);
  stroke: black;
  stroke-width: 1px;
}
